<h1>Minhas senhas</h1>



<h2><%= link_to "Criar senha", new_password_path %></h2>
<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Nome</th>
      <th>Password</th>
    </tr>
  </thead>

  <tbody>
    <% @passwords.each do |p| %>
      <tr>
        <td><%= p.url %></td>
        <td><%= p.user %></td>
        <td><%= p.password %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
